# for syntax see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# base rule, hugrverse team is codeowner for whole repo
* @CQCL/hugrverse

# Add specific rules below.
# Lower the rule, higher the precedence
