[profile.release]
lto = "thin"

[workspace]
resolver = "2"
members = ["hugr"]
default-members = ["hugr"]

[workspace.package]
rust-version = "1.75"
edition = "2021"
homepage = "https://github.com/CQCL/tket2"
repository = "https://github.com/CQCL/tket2"
license = "Apache-2.0"
# authors

[workspace.lints.rust]
missing_docs = "warn"

[workspace.dependencies]
portgraph = { version = "0.12.0" }
insta = { version = "1.34.0" }

[profile.dev.package.insta]
opt-level = 3
