# Automatic changelog generation for rust projects

[workspace]
# Open the release PR as a draft
pr_draft = true

# Use a custom git-cliff configuration
changelog_config = "cliff.toml"

# Disable the changelog generation by default
changelog_update = false

# Enforce adding the project name in the git tag, to avoid collisions with python.
# (This would normally only be enabled once there are multiple packages in the workspace)
git_tag_name = "{{ package }}-v{{ version }}"

git_release_name = "{{ package }}: v{{ version }}"

[[package]]
name = "hugr"

# Enable the changelog for this package
changelog_update = true

[[package]]
name = "hugr-passes"

# Enable the changelog for this package
changelog_update = true

# Disabled until the first version is manually published
publish = false
