[package]
name = "hugr-passes"
version = "0.14.0"
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
readme = "README.md"
documentation = "https://docs.rs/hugr-passes/"
homepage = { workspace = true }
repository = { workspace = true }
description = "Compiler passes for Quantinuum's HUGR"
keywords = ["Quantum", "Quantinuum"]
categories = ["compilers"]

[dependencies]
hugr-core = { path = "../hugr-core", version = "0.14.0" }
itertools = { workspace = true }
lazy_static = { workspace = true }
paste = { workspace = true }
thiserror = { workspace = true }
petgraph = { workspace = true }

[features]
extension_inference = ["hugr-core/extension_inference"]

[dev-dependencies]
rstest = { workspace = true }
