name: Check for breaking changes targeting main
on:
  pull_request_target:
    branches:
      - "**"
    types:
      - opened
      - edited
      - synchronize
      - labeled
      - unlabeled
  merge_group:
    types: [checks_requested]

jobs:
  breaking-change-to-main:
    name: Check for breaking changes targeting main
    uses: quantinuum/hugrverse-actions/.github/workflows/breaking-change-to-main.yml@main
    secrets:
      GITHUB_PAT: ${{ secrets.HUGRBOT_PAT }}
    with:
      release_branch: ${{ vars.BREAKING_RELEASE_BRANCH }}
