name: Notify coverage changes

# Daily notification for coverage changes in `main`.
#
# PR coverage diffs are computed directly in the `Continuous Integration` workflow.

on:
  schedule:
    # 04:00 every Monday
    - cron: '0 4 * * 1'
  workflow_dispatch: {}

jobs:
  coverage-trend:
    uses: quantinuum/hugrverse-actions/.github/workflows/coverage-trend.yml@main
    secrets:
        CODECOV_GET_TOKEN: ${{ secrets.CODECOV_GET_TOKEN }}

  notify-slack:
    needs: coverage-trend
    runs-on: ubuntu-latest
    if: needs.coverage-trend.outputs.should_notify == 'true'
    steps:
      - name: Send notification
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: 'C05GGH4GP4N'
            text: ${{ needs.coverage-trend.outputs.msg }}
