name: Rust Semver Checks
on:
  pull_request_target:
    branches:
      - '**'

jobs:
  # Check if changes were made to the relevant files.
  # Always returns true if running on the default branch, to ensure all changes are thoroughly checked.
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      rust: ${{ steps.filter.outputs.rust }}
      python: ${{ steps.filter.outputs.python }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-changes
        id: filter

  rs-semver-checks:
    needs: [changes]
    if: ${{ needs.changes.outputs.rust == 'true' }}
    uses: quantinuum/hugrverse-actions/.github/workflows/rs-semver-checks.yml@main
    with:
      apt-dependencies: llvm-14
    secrets:
      GITHUB_PAT: ${{ secrets.HUGRBOT_PAT }}
